/*Fonts*/

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSans-Narrow.woff2") format("woff2"),
    url("../fonts/PTSans-Narrow.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSans-NarrowBold.woff2") format("woff2"),
    url("../fonts/PTSans-NarrowBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #1a1a1a;
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f9f6f3;
  --basic-white: #ffffff;

  --special: #663d15;
}

/*Global*/

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-black);
  background-image: url("../img/cover.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Main header*/

.inner-page .main-header {
  background-color: var(--basic-black);
}

/*Main navigation*/

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a{
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: var(--basic-extra-dark);
}


/*Features*/

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

/*Index columns*/

.index-columns {
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
  background-image: url("../img/white background.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

/*News*/

.news-list {
  list-style: none;
}

/*Gallery*/

.gallery-content {
  background-color: var(--basic-dark);
  border: 7px var(--basic-white) solid;
}

/*Button*/

.button {
  font: inherit;
  color: var(--basic-white);
  background-color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--special);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

/*Contacts*/

.contacts-phone {
  color: inherit;
}

/*Appointment*/

.appointment-item input {
  font: inherit;
  border: 2px var(--basic-black) solid;
  background-color: transparent;
}

.appointment-item input:focus{
  border-color: var(--special);
  outline: none;
}
/*Inner page*/

.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("../img/white background.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.page-title {
  font-size: 30px;
  line-height: 42px;
}

/*Breadcrumbs*/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}

/*Filters*/

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}

/*Main footer*/

.main-footer {
  color: var(--basic-white);
  background-color: var(--basic-extra-dark);
  background-image: url("../img/black background.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  color: var(--basic-white);
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;
}

/*Social button*/

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*Modal*/

.modal {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("../img/white background.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login h2 {
  font-size: 30px;
  line-height: 42px;
}

/*Login form*/

.login-form input[type="email"],
.login-form input[type="password"] {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-black);
}

.login-form input:focus {
  border-color: var(--special);
  outline: none;
}

.login-icon-user {
  background-image: url("../img/icons/account.svg");
  background-position: right center;
  background-repeat: no-repeat;


}

.login-icon-password {
  background-image: url("../img/icons/lock.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

/* Restore */

.restore {
  color: var(--basic-black);
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}
